.header {
    z-index: 0;
    margin: 0px;
    margin-bottom: -20px;
    padding: 0px;
    min-height: 550px;
    height: fit-content;
    position: relative;
    top: -90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 2000px rgba(8, 8, 8, 0.5);
}

.content-header {
    margin: 100px 0px;
    padding-top: 100px;
    height: 100%;
    width: 50%;
    color: white;
}

.home-header {
    text-align: center;
}

.post-header {
    text-align: left;
}

.content-header>p.home-heading {
    font-size: 80px;
}

.content-header>p.post-heading {
    font-size: 55px;
}

.content-header>p.home-sub-heading {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.1;
}

.content-header>p.post-sub-heading {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.1;
}

.content-header>p.post-meta {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.1;
}

@media (max-width: 800px) {
    .navbar {
        /* display: block; */
        /* flex-direction: column; */
    }
    .header {
        margin-top: -90px;
    }
    .content-header>p.post-heading {
        font-size: 45px;
    }
    /* .menu-bar {
        display: none;
        visibility: hidden;
    } */
}