<div class="container {{ isEven ? 'left' : 'right'}}">
    <div class="content">
        <ng-container [ngSwitch]="item.kind">
            <div class="head">
                <ng-container *ngSwitchCase="'Education'">
                    <h5 class="__name">{{item.obj.name}}</h5>
                    <h5 class="__time"><span>{{item.obj.dateStart | date: 'MMM y'}}</span> - <span>{{item.obj.dateEnd |
                            date: 'MMM y'}}</span></h5>
                </ng-container>
                <ng-container *ngSwitchCase="'WorkExperience'">
                    <h5 class="__name">{{item.obj.companyOrAppName}}</h5>
                    <h5 class="__time"><span>{{item.obj.dateStart | date: 'MMM y'}}</span> - <span>{{item.obj.dateEnd |
                            date: 'MMM y'}}</span></h5>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <h5 class="__name">WEB APP BLOG</h5>
                    <h5 class="__time">AUG 2020 - TO PRESENT</h5>
                </ng-container>
            </div>
            <p *ngIf="item.kind === 'WorkExperience'">{{item.obj.titleOrPosition}}</p>
            <div class="details">
                <div markdown [data]="item.obj.description">

                </div>
                <p *ngIf="item.kind === 'Education'">GPA: {{item.obj.gpa}}</p>
            </div>
        </ng-container>
    </div>
</div>