
textarea {
  padding: 10px;
  width: 100%;
  height: fit-content;
  background: none;
  border: 1px solid #fcf8e0;
  outline: none;
  box-shadow: none;
  font-family: robotocondensed,Arial,sans-serif;
  transition: all 0.5s ease;
}

input {
  padding: 5px;
  line-height: normal;
  width: 100%;
  height: fit-content;
  background: none;
  outline: none;
  box-shadow: none;
  font-family: robotocondensed,Arial,sans-serif;
  transition: all 0.5s ease;
}


.title{
  display: flex;
  justify-content: flex-end;
  background-color: #7c7a79;
  padding: 20px;
}
.title input{
  border: 1px solid #7c7a79;
}
.__text{
    width: 40%;
    font-size: 42px;
    font-weight: 700;
    line-height: 46px;
    border: 1px solid #7c7a79;
}
.edit-left{
  color: #514f50;
  margin: 0px;
  padding: 5px;
  height: 75px;
  border: 1px solid #fcf8e0;
}
.contents input:hover,.contents textarea:hover{
  border: 1px solid #514f50;
}
.contents input:focus,.contents textarea:focus{
  border: 1px solid #514f50;
  outline: none;
  box-shadow: none;
}

.edit-right{
  color: #fcf8e0;
  margin: 0px;
  padding: 5px;
  border: 1px solid #514f50;
}
.sub-contents input:hover,.sub-contents textarea:hover,
.title input:hover,.title textarea:hover {
  border: 1px solid #fcf8e0;
}

.sub-contents input:focus,.sub-contents textarea:focus,
.title input:focus,.title textarea:focus {
  border: 1px solid #fcf8e0;
  outline: none;
  box-shadow: none;
}

.__favorites textarea{
  border: 1px solid #414142;
}

.buttons{
  padding: 20px 0px;
  display: flex;
  justify-content: center;
}
