<form [formGroup]="profileForm">
    <div class="body-profile font-style">
      <div class="title">
        <input class="__text edit-right" type="text" formControlName="fullname" placeholder="Fullname">
      </div>
        <div class="profile-container">
            <div class="contents">
                <div class="__item">
                    <app-profile-content [hasIcon]="profileContents[0].hasIcon" [icon]="profileContents[0].icon"
                        [title]="profileContents[0].title"></app-profile-content>
                    <textarea class="edit-left" type="text" (keyup)="resizeInput(objectiveTmp)" #objectiveTmp
                      rows="2" cols="30" formControlName="objective" placeholder="Objective"></textarea>
                </div>
                <div class="__item">
                    <app-profile-content [hasIcon]="profileContents[1].hasIcon" [icon]="profileContents[1].icon"
                        [title]="profileContents[1].title"></app-profile-content>
                    <app-profile-timeline-edit [listEducationForm]="profileForm.get('educationDTOs')"></app-profile-timeline-edit>
                </div>
                <div class="__item">
                    <app-profile-content [hasIcon]="profileContents[2].hasIcon" [icon]="profileContents[2].icon"
                        [title]="profileContents[2].title"></app-profile-content>
                    <app-profile-timeline-edit [listWorkExperienceForm]="profileForm.get('workExperienceDTOs')"></app-profile-timeline-edit>
                </div>
                <div class="__item">
                    <app-profile-content [hasIcon]="profileContents[3].hasIcon" [icon]="profileContents[3].icon"
                        [title]="profileContents[3].title"></app-profile-content>
                    <textarea class="edit-left" type="text" (keyup)="resizeInput(awardTmp)" #awardTmp
                      rows="2" cols="30" formControlName="awards" placeholder="Award"></textarea>
                </div>
                <div class="__item">
                    <app-profile-content [hasIcon]="profileContents[4].hasIcon" [icon]="profileContents[4].icon"
                        [title]="profileContents[4].title"></app-profile-content>
                    <textarea class="edit-left" type="text" (keyup)="resizeInput(addInformationTmp)" #addInformationTmp
                      rows="2" cols="30" formControlName="addInformation" placeholder="AddInformation"></textarea>
                </div>
                <div class="__item">
                    <app-profile-content [hasIcon]="profileContents[5].hasIcon" [icon]="profileContents[5].icon"
                        [title]="profileContents[5].title"></app-profile-content>
                    <textarea class="edit-left" type="text" (keyup)="resizeInput(referenceaTmp)" #referenceaTmp
                      rows="2" cols="30" formControlName="references" placeholder="References"></textarea>
                </div>
            </div>
            <div class="sub-contents">
                <div class="__about">
                    <ul>
                        <li>
                            <fa-icon [icon]="faCalendar" style="font-size: 18px;"></fa-icon>
                            <input class="edit-right " type="date" formControlName="birthday" placeholder="Birthday">
                        </li>
                        <li>
                            <fa-icon [icon]="faUser" style="font-size: 18px;"></fa-icon>
                            <input class="edit-right " type="text" formControlName="gender" placeholder="Gender">
                        </li>
                        <li>
                            <fa-icon [icon]="faPhone" style="font-size: 18px;"></fa-icon>
                            <input class="edit-right " type="text" formControlName="phonenumber" placeholder="Phonenumber">
                        </li>
                        <li>
                            <fa-icon [icon]="faMail" style="font-size: 18px;"></fa-icon>
                            <textarea class="edit-right " formControlName="email"
                              (keyup)="resizeInput(emailTmp)" #emailTmp placeholder="Email"></textarea>
                        </li>
                        <li>
                            <fa-icon [icon]="faFacebook" style="font-size: 18px;"></fa-icon>
                            <textarea class="edit-right " formControlName="facebook"
                              (keyup)="resizeInput(facebookTmp)" #facebookTmp placeholder="Facebook"></textarea>
                        </li>
                        <li>
                            <fa-icon [icon]="faGithub" style="font-size: 18px;"></fa-icon>
                            <textarea class="edit-right " formControlName="github"
                              (keyup)="resizeInput(githubTmp)" #githubTmp placeholder="Github"></textarea>
                        </li>
                        <li>
                            <fa-icon [icon]="faTwitter" style="font-size: 18px;"></fa-icon>
                            <textarea class="edit-right " formControlName="twitter"
                              (keyup)="resizeInput(twitterTmp)" #twitterTmp placeholder="Twitter"></textarea>
                        </li>
                        <li>
                            <fa-icon [icon]="faAddress" style="font-size: 18px;"></fa-icon>
                            <textarea class="edit-right " formControlName="address"
                              (keyup)="resizeInput(addressTmp)" #addressTmp placeholder="Address"></textarea>
                        </li>
                    </ul>
                </div>
                <div class="__item">
                    <app-profile-content [hasIcon]="profileContents[6].hasIcon" [icon]="profileContents[6].icon"
                        [title]="profileContents[6].title"></app-profile-content>
                    <app-skill-edit [listSkillForm]="profileForm.get('skillDTOs')" (openSkillRatingModal)="openSkillRatingModal($event)">
                    </app-skill-edit>
                </div>
                <div class="__item">
                    <app-profile-content [hasIcon]="profileContents[7].hasIcon" [icon]="profileContents[7].icon"
                        [title]="profileContents[7].title"></app-profile-content>
                    <div class="__favorites">
                        <ul>
                            <li>
                              <textarea class="edit-right " formControlName="hobby"
                                rows="2" cols="30" (keyup)="resizeInput(hobbyTmp)" #hobbyTmp placeholder="Hobby"></textarea>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="buttons">
          <button class="btn-post" (click)="update()">UPDATE</button>
        </div>
      </div>
</form>
<app-star-rating [id]="skillFormGroupRating.get('skill')" [skillFormGroup]="skillFormGroupRating" (skillRating)="getSkillRating($event)"></app-star-rating>
