<div class="content">
    <!-- <h2>2017</h2>
    <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea
        mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto
        primis.</p> -->
    <div class="head">
        <h5 class="__name">WEB APP BLOG</h5>
        <h5 class="__time">AUG 2020 - TO PRESENT</h5>
    </div>
    <p>Angular 8</p>
    <div class="details">
        <p>
            <span>Description: </span>
            <span>Phone sales website includes functions such as product management, user management, list display (all or by brand), pagination, and shopping cart.
            </span>
        </p>
        <p>
            <span>Team size: </span>
            <span>1</span>
        </p>
    </div>    
</div>