<div class="header font-style" [ngStyle]="styleBinding">
    <div [class]="flagHome ? 'content-header home-header' : 'content-header post-header' ">
        <!-- <p>Clean Blog</p> -->
        <!-- <p>Blog Theme by HTML</p> -->
        <ng-container>
            <p [class]="flagHome ? 'home-heading' : 'post-heading'">{{heading}}</p>
            <p [class]="flagHome ? 'home-sub-heading' : 'post-sub-heading'">{{subHeading}}</p>
            <p [class]="'post-meta'" [hidden]="flagHome">{{dateCreate | date:'MMMM d, y'}}</p>
        </ng-container>
        <!-- <p>Magna nostrud incididunt cupidatat cillum incididunt et nisi in ut minim reprehenderit.</p>
        <p>Labore irure irure laborum quis tempor aliqua. Dude</p> -->
    </div>
</div>