.title-form {
    font-size: xx-large;
}

.form-post>form {
    margin-top: 150px;
    color: white;
}

.note-input {
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    color: gray;
    margin-bottom: 10px;
}

.input-text-area {
    /* height: 100px; */
    resize: horizontal;
    overflow: hidden;
}

.error-input {
    color: #dc3545;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
}

.post-preview {
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    line-height: 20px;
    min-height: 50px;
    color: black;
    background-color: #fff;
}