<div class="__skilss">
  <div class="__item" *ngFor="let skill of skillDTOs; let i = index">
    <div (click)="openSkillRating(skill)">
      <p class="__name">{{skill.skill}}</p>
      <div class="container">
        <div class="__skill" [ngStyle]="{'width.%': skill.getPercent()}"></div>
      </div>
    </div>
    <app-profile-control-edit [item]="{item: skill, index: i}" [maxIndex]="skillDTOs.length"
      (addItemForm)="addItemForm($event)" (deleteItemForm)="deleteItemForm($event)"
      (moveUpItemForm)="moveItemForm($event)" (moveDownItemForm)="moveItemForm($event)">
    </app-profile-control-edit>
  </div>
</div>
