<div class="full-background">
    <div class="form-post">
        <form action="">
            <h2 class="title-form">Post Content</h2>
            <input class="input-text" type="text" placeholder="Post heading"><br>
            <p class="error-input">Heading required</p>
            <input class="input-text" type="text" placeholder="Post subheading"><br>
            <input class="input-text" type="text" placeholder="Post background image (enter a URL)"><br>
            <p class="note-input">Use an image URL (ex. https://source.unsplash.com/WLUHO9A_xik/1600x900)</p>
            <textarea class="input-text input-text-area" name="" id="" cols="100" rows="5" placeholder="Post body text (markdown supported)"></textarea>
            <p class="note-input">
                <fa-icon [icon]="faMarkdown" style="font-size: 12px;"></fa-icon>
                Markdown supported
            </p>
            <button class="btn-post">CREATE POST</button>
            <br> <br> <br>
            <h2 class="title-form">Post Preview</h2>
            <div class="post-preview"></div><br>
            <button class="btn-post btn-post-delete" hidden>DELETE POST</button>
        </form>
    </div>
</div>