<div class="body-blog">
    <app-post>
        <p class="title-post">
            Magna nostrud incididunt cupidatat cillum incididunt et nisi in ut minim reprehenderit.
        </p>
        <p class="subtitle-post">
            Labore irure irure laborum quis tempor aliqua. Dude
        </p>
        <p class="date-post">
            October 11, 2020
        </p>
    </app-post>
    <app-post>
        <p class="title-post">
            Magna nostrud incididunt cupidatat cillum incididunt et nisi in ut minim reprehenderit.
        </p>
        <p class="subtitle-post">
            Labore irure irure laborum quis tempor aliqua. Dude
        </p>
        <p class="date-post">
            October 11, 2020
        </p>
    </app-post>
    <app-post>
        <p class="title-post">
            Magna nostrud incididunt cupidatat cillum incididunt et nisi in ut minim reprehenderit.
        </p>
        <p class="subtitle-post">
            Labore irure irure laborum quis tempor aliqua. Dude
        </p>
        <p class="date-post">
            October 11, 2020
        </p>
    </app-post>
</div>