<div class="footer">
    <hr class="break-footer">
    <ul>
        <li>
            <a href="{{urlTwitter}}" target="_blank">
                <fa-icon class="icon-footer" [icon]="faTwitter"></fa-icon>
            </a>
        </li>
        <li>
            <a href="{{urlFacebook}}" target="_blank">
                <fa-icon class="icon-footer" [icon]="faFacebook"></fa-icon>
            </a>
        </li>
        <li>
            <a href="{{urlGithub}}" target="_blank">
                <fa-icon class="icon-footer" [icon]="faGithub"></fa-icon>
            </a>
        </li>
    </ul>
    <p>Copyright © Blog Website 2020</p>
</div>