.footer {
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.break-footer {
    width: 60%;
}
.footer .quickstart{
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.quickstart .link li{
  margin: 0 20px;
}
.quickstart  .left{

}
.quickstart ul {
    /* width: 100%; */
    margin: 0px;
    padding: 10px 0px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.quickstart ul>li{
    display: block;
    margin: 0px 10px;
}

.quickstart p {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Lora,Times New Roman,serif';
}

.icon-footer {
    font-size: 48px;
    color: black;
    transition: all 0.5s;
}

.icon-footer:hover {
    color: #0085a1;
    transition: all 0.5s;
}
