.post-item {
    display: block;
    margin-top: 50px;
    text-decoration: none;
    color: black;
}

.post-item:hover {
    color: #0085a1;
    transition: all 0.2s;
}


/* 
.link-post-title {
    text-decoration: none;
} */


/* 
.post-item .title-post {
    font-size: 36px;
    font-weight: 300px;
    color: blue;
}

.subtitle-post {
    font-size: 24px;
}

.date-post {
    font-size: 18px;
} */