<form [formGroup]="itemFormGroup.formGroup">
    <div class="container {{ isEven ? 'left' : 'right'}}">
        <div class="content">
            <ng-container [ngSwitch]="itemFormGroup.kind">
                <div class="head">
                    <ng-container *ngSwitchCase="'Education'">
                        <input class="__name" type="text" formControlName="name">
                        <div class="wrap-date">
                            <input class="__time" type="date" formControlName="dateStart">
                            <span class="sperator-date"> - </span>
                            <input class="__time" type="date" formControlName="dateEnd">
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'WorkExperience'">
                        <input class="__name" type="text" formControlName="companyOrAppName">
                        <div class="wrap-date">
                            <input class="__time" type="date" formControlName="dateStart">
                            <span class="sperator-date"> - </span>
                            <input class="__time" type="date" formControlName="dateEnd">
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <h5 class="__name">WEB APP BLOG</h5>
                        <h5 class="__time">AUG 2020 - TO PRESENT</h5>
                    </ng-container>
                </div>
                <input *ngIf="itemFormGroup.kind === 'WorkExperience'" type="text" formControlName="titleOrPosition">
                <div class="details">
                    <textarea  type="text" formControlName="description" placeholder="Description"></textarea>
                    <div class="wrap-gpa" *ngIf="itemFormGroup.kind === 'Education'">
                        <span>GPA: </span>
                        <input type="number" formControlName="gpa">
                    </div>
                </div>
            </ng-container>
            <app-profile-control-edit [item]="itemFormGroup"
              (addItemForm)="addItemForm($event)"
              (deleteItemForm)="deleteItemForm($event)">
            </app-profile-control-edit>
        </div>
    </div>
</form>
