<div class="body-profile font-style">
    <div class="title">
      <span class="__text edit-right">{{account.fullname}}</span>
    </div>
    <div class="profile-container">
        <div class="contents">
            <div class="__item">
                <app-profile-content [hasIcon]="profileContents[0].hasIcon" [icon]="profileContents[0].icon" [title]="profileContents[0].title"></app-profile-content>
                <div markdown [data]="account.objective" class="__text">
                </div>
            </div>
            <div class="__item">
                <app-profile-content [hasIcon]="profileContents[1].hasIcon" [icon]="profileContents[1].icon" [title]="profileContents[1].title"></app-profile-content>
                <app-profile-timeline [listItemEducation]="account.educationDTOs"></app-profile-timeline>
            </div>
            <div class="__item">
                <app-profile-content [hasIcon]="profileContents[2].hasIcon" [icon]="profileContents[2].icon" [title]="profileContents[2].title"></app-profile-content>
                <app-profile-timeline [listItemWorkExperience]="account.workExperienceDTOs"></app-profile-timeline>
            </div>
            <div class="__item">
                <app-profile-content [hasIcon]="profileContents[3].hasIcon" [icon]="profileContents[3].icon" [title]="profileContents[3].title"></app-profile-content>
                <div markdown [data]="account.awards" class="__text">

                </div>
            </div>
            <div class="__item">
                <app-profile-content [hasIcon]="profileContents[4].hasIcon" [icon]="profileContents[4].icon" [title]="profileContents[4].title"></app-profile-content>
                <div markdown [data]="account.addInformation" class="__text">

                </div>
            </div>
            <div class="__item">
                <app-profile-content [hasIcon]="profileContents[5].hasIcon" [icon]="profileContents[5].icon" [title]="profileContents[5].title"></app-profile-content>
                <div markdown [data]="account.references" class="__text">

                </div>
            </div>
        </div>
        <div class="sub-contents">
            <div class="__about">
                <ul>
                    <li>
                        <fa-icon [icon]="faCalendar" style="font-size: 18px;"></fa-icon>
                        <span>{{account.birthday | date: 'MMM d, y'}}</span>
                    </li>
                    <li>
                        <fa-icon [icon]="faUser" style="font-size: 18px;"></fa-icon>
                        <span>{{account.gender ? 'Male' : "Female"}}</span>
                    </li>
                    <li>
                        <fa-icon [icon]="faPhone" style="font-size: 18px;"></fa-icon>
                        <span>{{account.phonenumber}}</span>
                    </li>
                    <li>
                        <fa-icon [icon]="faMail" style="font-size: 18px;"></fa-icon>
                        <span>{{account.email}}</span>
                    </li>
                    <li>
                        <fa-icon [icon]="faAddress" style="font-size: 18px;"></fa-icon>
                        <span>{{account.address}}</span>
                    </li>
                </ul>
            </div>
            <div class="__item">
                <app-profile-content [hasIcon]="profileContents[6].hasIcon" [icon]="profileContents[6].icon" [title]="profileContents[6].title"></app-profile-content>
                <div class="__skilss">
                    <div *ngFor="let skill of account.skillDTOs" class="__item">
                        <p class="__name">{{skill.skill}}</p>
                        <div class="container">
                            <div class="__skill" [ngStyle]="{'width.%': skill.getPercent()}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="__item">
                <app-profile-content [hasIcon]="profileContents[7].hasIcon" [icon]="profileContents[7].icon" [title]="profileContents[7].title"></app-profile-content>
                <div class="__favorites">
                    <ul>
                        <li>
                            <span>{{account.hobby}}</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- <button class="btn-post" (click)="edit()">EDIT PROFILE</button> -->
    <a routerLink="/duongnh/about/edit">EDIT</a>
</div>
