<div class="header">
    <div class="navbar">
        <a class="title-blog" href="">Start Your Blog</a>
        <ul class="menu-bar">
            <li><a href="">HOME</a></li>
            <li><a href="">ABOUT</a></li>
            <li><a href="">EDIT POST</a></li>
            <li>
                <a href="">
                    <fa-icon [icon]="faGithub" style="font-size: 34px;"></fa-icon>
                </a>
            </li>
            <li class="new-post"><a href="">NEW POST</a></li>
        </ul>
    </div>
    <div class="content-header">
        <p>Clean Blog</p>
        <p>Blog Theme by HTML</p>
    </div>
    <!-- <div class="overlay"></div> -->
</div>