.profile-content{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #7c7a79;
    font-weight: bolder;
}
.icon{
    flex-grow: .3;
    text-align: left;
}
.icon_title{
    background-color: #7c7a79;
    color: #fcf8e0;
    
}
.title{
    flex-grow: .5;
}
.title_has_icon{
    color: #fcf8e0;
}
.line{
    flex-grow: 10;
}