.profile-content{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #7c7a79;
    font-family: robotocondensed,Arial,sans-serif;
}
.icon{
    flex-grow: .3;
    text-align: center;
}
.icon_title{
    background-color: #7c7a79;
    color: #fcf8e0;
    
}
.title{
    flex-grow: .5;
    font-weight: bolder;
}
.line{
    flex-grow: 10;
}